h1 {
      font-family: 'Pacifico', cursive;
      font-size: 35px;
      text-align: center;
}

body {
    background-image: url('7.jpg');
font-family: 'Handlee', cursive;
    font-size: 16px;
    text-align: center;
}

div {
    border: 1.5px solid gray;
    width: 600px;
    padding: 5px;
    margin: auto;
    background: rgba(240, 240, 240, 0.7);
}
